*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/* border: solid 1px red;b */
}

body {
	background-image: url("../images/translogo.png");
}

header {
	display: flex;
	width: 100%;
	height: 140px;
	background-image: url("../images/translogo.png");
	/* position: relative; */

}

header img {
	width: 180px;
	height: 90px;
	/* position: absolute; */
	margin-top: 20px;
	margin-left: 20px;
}

header h1 {
	position: absolute;
	margin-left: 500px;
	top: 50px; 
	font-family: Exotc350 DmBd BT;
	color: red;
	font-size: 28px;
	letter-spacing: 15px; 

}

#hminav a {
	color: #fff;
	background: #000033;
	display: block;
	/* height: 60px; */
	font-family: Exotc350 Dmbd BT;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: background 0.45s;
	padding: 14px 16px;
}

#hminav a:hover {
	background: red;
}

#hminav ul {
	list-style: none;
	display: flex;
}

#hminav li {
	width: 150%;
	text-align: center; 
	position: relative;
}

#hminav li:hover .submenu > li {	
	display: block;
	top: 0px;
}

.submenu li {
	display: none;
	position: absolute;
	top: 0px;
	text-align: left;
}

.submenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
}

.arrow {
	font-size: 10px;
	left: 6px;
}

div.firstpic {
/*	position: relative;
*/	display: flex;
	/* margin-top: 40px; */
	height: 730px;
	width: 100%;
	background-image: url("../images/picture.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	/*border: solid 1px red;*/
	flex-direction: column;
	align-items: center; 


}

div.h1p {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	/*border: solid 1px red;*/
	background: rgba(38,38,38,0.5);
	margin-top: 400px;
	width: 1000px;
	height: 200px;
	margin-bottom: 50px


}

div.h1p h1 {
	text-align: center;
	font-size: 35px;
	font-family: Exotc350 DmBd BT;
	color: white;

}
div.h1p p {
	text-align: center;
	font-size: 30px; 
	color: white;
	font-family: ErasDemiITC;
	line-height: 40px;
}

#learn {
	font-family: Exotc350 DmBd BT;
	font-size: 20px;
	color: white;
	font-weight: bolder;
}

div.methonav {
	display: flex;
	flex-flow: row no-wrap;
	/*border: solid 1px red;*/
	align-items: center;
}

div.methonav a {
	color: white;
	padding: 0px 8px;
	font-family: calibri;
	font-size: 16px;
	text-decoration: none;
	font-weight: bolder;
	color: #ffcc00;
	text-transform: uppercase;
	border-right: solid 2px white;
}

#last {
	border: none;
}

div.methonav a:hover {
	text-decoration: underline;
}
div.apeal {
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
    flex-direction: column;
	align-items: center;
}

div.apeal img {
    width: 70%;
    height: auto;
	/* flex-direction: column; */
	padding: 50px 0 0 0;
}

footer {
	/* display: flex; */
	background: #252525;
	height: 430px;
	width: 100%;
}

div.footercontainer {
	display: flex;
	width: 1140px;
	height: 354px;
	margin: 0px 113px;
	padding: 80px 15px 0px;
	/* border: solid 1px red; */

} 

div.littleabout {
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
	/* align-items: flex-start; */

	}

div.links {
	/* display: flex; */
	/* flex-direction: column; */
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
}

div.downlogo {
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
	justify-content: center;
	align-items: center;

}
footer img {
	width: 200px;
	height: auto;
}

div.contact {
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
}

footer h1 {
	font-family: Exotc350 DmBd BT;;
	color: yellow;
	font-size: 18px;
	line-height: 40px;
}
footer a {
	color: #e6e6e6;
	font-family: calibri;
	line-height: 25px;
	font-size: 15px;
	text-decoration: none;
}

footer a:hover {
	background: red;
}

footer li {
	width: 255px;
	border-bottom: solid 1px #333333;
	list-style: none;
}

footer p {
	color: #e6e6e6;
	font-family: calibri;
	text-align: left;
	font-size: 15px;
	line-height: 20px;
}

div.copy {
	/* border: solid 1px red; */
	width: 100%;
	display: flex;
	align-items: flex-end;
	height: 70px;
	justify-content: center;

}

