div.economicwrapper {
	width:319px;
	height: auto;
	display: flex;
	justify-content: center;
    flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
	margin: 0 auto;
}

div.heconomic {
	display: flex;
	flex-direction: column;
	/* border: 1px solid red; */
	justify-content: space-around;
	align-items: center;
	width: 80%;
	height: 50px;
	
}
div.heconomic h1 {
	font-family: Calibri;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
}


div.heconomic img {
	width: 10%;
	height: aut0
	margin-bottom: 20px;
}


div.piceconomic {
    width: 80%;
    height: 200px;
	background-image: url("../images/piceconomic.png");
	background-size: cover;
	background-position: center;
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;

}

div.texteconomic {
	width: 80%;
	height: auto;
	padding: 30px 0 30px

}
div.texteconomic h2 {
	font-family: Exotc350 DmBd BT;
	/* color: #252525; */
	padding: 30px 0 10px 0;
	color: #000033;
	text-decoration: underline;
}

div.texteconomic p {
	font-family: calibri;
	color: #252525;
	line-height: 22px;
	font-size: 17px; 
	text-align: justify;
	/* padding: 0 80px 0 80px; */
}

@media (min-width: 320px) and (max-width: 479px) {

	div.economicwrapper {
		width:478px;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		/* border: 1px solid red; */
		padding: 20px 0 40px 0; 
		margin: 0 auto;
	}
	
	div.heconomic {
		display: flex;
		flex-direction: row;
		/* border: 1px solid red; */
		justify-content: center;
		align-items: center;
		width: 80%;
		
	}
	div.heconomic h1 {
		font-family: Calibri;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
	}
	
	
	div.heconomic img {
		width:20%;
		height: auto;
		padding: 20px;
	}
	
	div.piceconomic {
		width: 80%;
		height: 250px;
		background-image: url("../images/piceconomic.png");
		background-size: cover;
		background-position: center;
		/* border: 1px solid red; */
		display: flex;
		justify-content: center;
	
	}
	
	div.texteconomic {
		width: 80%;
		height: auto;
		padding: 30px 0 30px
	
	}
	div.texteconomic h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 30px 0 10px 0;
		color: #000033;
		text-decoration: underline;
	}
	
	div.texteconomic p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	
		div.economicwrapper {
		width:766px;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		/* border: 1px solid red; */
		/* padding: 20px 0 40px 0;  */
		margin: 0 auto;
	}
	
	div.heconomic {
		display: flex;
		flex-direction: row;
		/* border: 1px solid red; */
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 100px
		
	}
	div.heconomic h1 {
		font-family: Calibri;
		text-transform: uppercase;
		text-align: center;
		font-size: 30px;
	}
	
	
	div.heconomic img {
		width: 15%;
		height: auto;
		padding: 20px;
	}
	
	div.piceconomic {
		width: 80%;
		height: 400px;
		background-image: url("../images/piceconomic.png");
		background-size: cover;
		background-position: center;
		/* border: 1px solid red; */
		display: flex;
		justify-content: center;
	
	}
	
	div.texteconomic {
		width: 80%;
		height: auto;
		padding: 30px 0 30px
	
	}
	div.texteconomic h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 30px 0 10px 0;
		color: #000033;
		text-decoration: underline;
	}
	
	div.texteconomic p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	
	div.economicwrapper {
	width:1022px;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
	/* padding: 20px 0 40px 0;  */
	margin: 0 auto;
}

	div.heconomic {
		display: flex;
		flex-direction: row;
		/* border: 1px solid red; */
		justify-content: center;
		align-items: center;
		width: 70%;
		height:200px;
		
	}
	div.heconomic h1 {
		font-family: Calibri;
		text-transform: uppercase;
		text-align: center;
		font-size: 35px;
	}


	div.heconomic img {
		width: 15%;
		height: auto;
		padding: 20px;
	}

	div.piceconomic {
		width: 70%;
		height: 550px;
		background-image: url("../images/piceconomic.png");
		background-size: cover;
		background-position: center;
		/* border: 1px solid red; */
		display: flex;
		justify-content: center;

	}

	div.texteconomic {
		width: 70%;
		height: auto;
		padding: 30px 0 30px;

	}
	div.texteconomic h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 30px 0 10px 0;
		color: #000033;
		text-decoration: underline;
	}

	div.texteconomic p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
	}
}

@media (min-width: 1024px) and (max-width: 1200px) {
	
	div.economicwrapper {
	width:1199px;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
	margin: 0 auto;
}

	div.heconomic {
		display: flex;
		flex-direction: row;
		/* border: 1px solid red; */
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 200px;
		
	}
	div.heconomic h1 {
		font-family: Calibri;
		text-transform: uppercase;
		text-align: center;
		font-size: 35px;
	}


	div.heconomic img {
		width: 15%;
		height: auto;
		padding: 20px;
	}

	div.piceconomic {
		width: 70%;
		height: 550px;
		background-image: url("../images/piceconomic.png");
		background-size: cover;
		background-position: center;
		/* border: 1px solid red; */
		display: flex;
		justify-content: center;

	}

	div.texteconomic {
		width: 70%;
		height: auto;
		padding: 30px 0 30px;

	}
	div.texteconomic h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 30px 0 10px 0;
		color: #000033;
		text-decoration: underline;
	}

	div.texteconomic p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
	}
}

@media (min-width: 1201px) and (max-width: 1366px) {
	
	div.economicwrapper {
	width:1365px;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
	padding: 20px 0 40px 0; 
	margin: 0 auto;
}

	div.heconomic {
		display: flex;
		flex-direction: row;
		/* border: 1px solid red; */
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 200px
		
	}
	div.heconomic h1 {
		font-family: Calibri;
		text-transform: uppercase;
		text-align: center;
		font-size: 30px;
	}


	div.heconomic img {
		width: 12%;
		height: auto;
		padding: 20px;
	}

	div.piceconomic {
		width: 70%;
		height: 650px;
		background-image: url("../images/piceconomic.png");
		background-size: cover;
		background-position: center;
		/* border: 1px solid red; */
		display: flex;
		justify-content: center;

	}

	div.texteconomic {
		width: 70%;
		height: auto;
		padding: 30px 0 30px;
		margin: 0 auto;

	}
	div.texteconomic h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 30px 0 10px 0;
		color: #000033;
		text-decoration: underline;
	}

	div.texteconomic p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
	}
}


@media (min-width: 1367px) {
	
	div.economicwrapper {
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
	padding: 20px 0 40px 0; 
	margin: 0 auto;
}

	div.heconomic {
		display: flex;
		flex-direction: row;
		/* border: 1px solid red; */
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 200px
		
	}
	div.heconomic h1 {
		font-family: Calibri;
		text-transform: uppercase;
		text-align: center;
		font-size: 35px;
	}


	div.heconomic img {
		width: 12%;
		height: auto;
		padding: 20px;
	}

	div.piceconomic {
		width: 70%;
		height: 650px;
		background-image: url("../images/piceconomic.png");
		background-size: cover;
		background-position: center;
		/* border: 1px solid red; */
		display: flex;
		justify-content: center;

	}

	div.texteconomic {
		width: 70%;
		height: auto;
		padding: 30px 0 30px;
		margin: 0 auto;

	}
	div.texteconomic h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 30px 0 10px 0;
		color: #000033;
		text-decoration: underline;
	}

	div.texteconomic p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
	}
}


