*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/* border: solid 1px red;b */
}

body {
	background-image: url("../images/translogo.png");
}

header {
	display: flex;
	width: 100%;
	height: 140px;
	background-image: url("../images/translogo.png");
	/* position: relative; */

}

header img {
	width: 180px;
	height: 90px;
	/* position: absolute; */
	margin-top: 20px;
	margin-left: 20px;
}

header h1 {
	position: absolute;
	margin-left: 500px;
	top: 50px; 
	font-family: Exotc350 DmBd BT;
	color: red;
	font-size: 28px;
	letter-spacing: 15px; 

}

#hminav a {
	color: #fff;
	background: #000033;
	display: block;
	/* height: 60px; */
	font-family: Exotc350 Dmbd BT;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: background 0.45s;
	padding: 14px 16px;
	/* z-index: -1; */
}

#hminav a:hover {
	background: red;
}

#hminav ul {
	list-style: none;
	display: flex;
}

#hminav li {
	width: 150%;
	text-align: center; 
	position: relative;
}

#hminav li:hover .submenu > li {	
	display: block;
	top: 0px;
}

.submenu li {
	display: none;
	position: absolute;
	top: 0px;
	text-align: left;
}

.submenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
}

.arrow {
	font-size: 10px;
	left: 6px;
}

div.grouppic {
	display: flex;
	width: 100%;
	background-image: url("../images/FYN7.jpg");
	background-position:center;
	background-size: cover;
	height: 730px;
	/*border: solid 1px red;*/
	align-items: center;
	justify-content: center;
	/* margin-top: 40px; */
	z-index: -1;
}

div.hp {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/*border: solid 1px red;*/
	background: rgba(38,38,38,0.5);
	margin-top: -450px;
	width: 780px;
	height: 260px;
	position: relative;
}

div.hp img {
	width: 114px;
	height: 156px;
}

div.hp h1 {
	font-size: 50px;
	font-weight: bolder;
	color: white;
	font-family: Exotc350 DmBd BT;

}

div.hp h2 {
	font-size: 40px;
	font-weight:bolder;
	color:  yellow;
	text-align: center;
/*	position: absolute;
*/	top: 150px;

}

div.plain {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/*border: solid 1px red;*/
	width: 100%;
	height: 250px;
	margin-top: 30px;
}

div.plainB {
	border: solid 3px #006699;
	border-style: dotted;
	width: 670px;
	height: 235px;
	justify-content: center;
}

div.plainB h1 {
	font-family: Exotc350 DmBd BT;
	font-size: 70px;
	letter-spacing: 10px;
	color: #a6ce39;
	padding: 10px 80px;
	text-align: center;
}
div.plainB p {
	text-align: center;
	font-family: calibri;
	font-size: 20px;
	line-height: 25px;
	color:  #4d4d4d;
}
div.aboutfyn {
	display: flex;
	width: 100%;
	background-color: #1b6397;
	background-position:center;
	background-size: contain;
	height: 638px;
	/*border: solid 1px red;*/
	align-items: center;
	justify-content: center;
}

div.aboutfyn1 {
	width: 400px;
	height: 638px;
	/*border: solid 1px red;*/

}

div.aboutfyn1 img {
	margin-left: 160px;
}

div.aboutfyn1 h1 {
	font-size: 24px;
	font-weight:bolder;
	color: white;
	text-align: center;
	font-family: Exotc350 DmBd BT;
	
}

div.aboutfyn1 p {
	padding: 25px 20px;
	line-height: 30px;
	font-size: 21px;
	color: white;
	font-family: calibri;

}

div.aboutfyn2 {
	width: 530px;
	height: 638px;
	/*border: solid 1px red;*/
}

div.aboutfyn3 {
	width: 400px;
	height: 638px;
	/* border: solid 1px red; */
	padding-left: 16px;
}

div.aboutfyn3 h1 {
	font-size: 20px;
	font-family: Exotc350 DmBd BT;
	color: #a6ce39;
	font-weight: bolder;
	/* padding: 10px 25px; */
	margin-top: 5px;
}

div.aboutfyn3 p1 {
	padding: 18px 25px;
	line-height: 15px;
	font-size: 16px;
	color: white;
	font-family: calibri;
	border-bottom: solid 2px #a6ce39;
	border: solid 1px red;
	padding-top: 0px;
}

div.aboutfyn3 p {
	padding: 10px 25px;
	line-height: 20px;
	font-size: 16px;
	color: white;
	font-family: calibri;
	border-bottom: solid 2px #a6ce39;
	/*border: solid 1px red;*/
	padding-top: 0px;

}
#heading {
	font-size: 20px;
	font-family: Exotc350 DmBd BT;
	color: #a6ce39;
/*	font-weight: bolder;*/	
	/* padding: 10px 25px; */
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 20px;
}
div.plain2 {
	display: flex;
	width: 100%;
	height: 350px;
	justify-content: center;
	align-items: center;
	/*border: solid 1px red;*/
}

div.plain2a {

}

div.plain2a h1 {
	font-size: 60px;
	font-family: Exotc350 DmBd BT;
	/*border: solid 1px red;*/
	text-align: right;
	line-height: 50px;
	padding: 30px 30px;
	color: #4d4d4d;

}

div.plain2b {

}

div.plain2b p{
	padding: 20px 30px;
	font-size: 22px;
	border-left: solid 2px #a6ce39;
	font-family: calibri;
	margin-right: -200px;
	color: #4d4d4d;

}

div.thematics {
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;
	align-items: center;
	/*border: solid 1px red;*/
	background-color: #000033;
}

div.thematics h1 {
	font-family: Exotc350 DmBd BT;
	font-size: 50px;
	font-weight: bold;
	color: white;
	background: red;
	padding: 8px 16px;
}

div.code {
	display: flex;
	width: 100%;
	background-image: url("../images/code.png"); 
	background-position:center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 531px;
	/*border: solid 1px red;*/
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

div.code h1 {
	text-align: left;
	font-family: Exotc350 DmBd BT;
	font-size: 23px;
	color: white;
	margin-left: 70px;
	padding: 20px;
	line-height: 25px;
}

div.code h2 {
	font-family: Exotc350 DmBd BT;
	font-size: 100px;
	color: #a6ce39;
	margin-left: 50px;
	padding: 3px 0px;
	word-spacing: 20px;
	font-weight: bolder;
}

div.code h3 {
	font-size: 50px;
	color: white;
	margin-left: 50px;
	padding: 10px 0px;
	font-weight: bolder;
	word-spacing: 20px;
	font-family: Copperplate Gothic;
}

div.code p {
	font-family: calibri;
	font-size: 20px;
	color: white;
	margin-left: 50px;
}

div.code a {
	line-height: 60px;
	margin-left: 50px;
	color: white;


}

footer {
	/* display: flex; */
	background: #252525;
	height: 430px;
	width: 100%;
}

div.footercontainer {
	display: flex;
	width: 1140px;
	height: 354px;
	margin: 0px 113px;
	padding: 80px 15px 0px;
	/* border: solid 1px red; */

} 

div.littleabout {
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
	/* align-items: flex-start; */

	}

div.links {
	/* display: flex; */
	/* flex-direction: column; */
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
}

div.downlogo {
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
	justify-content: center;
	align-items: center;

}
footer img {
	width: 200px;
	height: auto;
}

div.contact {
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
}

footer h1 {
	font-family: Exotc350 DmBd BT;;
	color: yellow;
	font-size: 18px;
	line-height: 40px;
}
footer a {
	color: #e6e6e6;
	font-family: calibri;
	line-height: 25px;
	font-size: 15px;
	text-decoration: none;
}

footer li {
	width: 255px;
	border-bottom: solid 1px #333333;
	list-style: none;
}

footer p {
	color: #e6e6e6;
	font-family: calibri;
	text-align: left;
	font-size: 15px;
	line-height: 20px;
}

div.copy {
	/* border: solid 1px red; */
	width: 100%;
	display: flex;
	align-items: flex-end;
	height: 70px;
	justify-content: center;

}
