

div.contentwrap {
	width: 319px;
	height: auto;
	display: flex;
	justify-content: center;
    flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
	/* padding: 20px 0 40px 0;  */
	margin: 0 auto;
}

div.hapim {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-evenly;
	/* border: solid 1px red; */
	padding: 10px 0 0 0;
	
}

div.hapim h2 {
	font-family: Exotc350 DmBd BT;
	/* color: #252525; */
	padding: 10px 0 10px 0;
	color: #000033;
	/* text-decoration: underline; */
}

div.hapim p {
	font-family: calibri;
	/* color: #252525; */
	line-height: 22px;
	font-size: 17px; 
	text-align: justify;
	/* padding: 0 80px 0 80px; */
}

div.hhapim {
	display: flex;
	flex-direction: column;
	/* border: 1px solid red; */
	justify-content: flex-start;
	align-items: center;
	width: 80%;
	margin-bottom: 20px;
	margin-top: 5%;

}
div.hhapim h1 {
	font-family: Calibri;
	text-align: center;
	font-size: 22px;
}


div.hhapim img {
	width: 20%;
	height: auto;
	/* margin-right: 100px; */
}

div.one {
	width: 100%;
	height: auto;
	/* border: solid 1px red; */
}
div.two {
	width: 80%;
	height: 400px;
	/* border: solid 1px red; */
	background-image: url("../images/pic1hapim.png");
	background-position: center;
	background-size: contain;
	display: flex;
	justify-content: space-around;
	margin: 10px 0 10px 0;
	background-repeat: no-repeat;
	margin: 0 auto;
}

div.four {
	width: 80%;
	height: 300px;
	/* border: solid 1px red; */
	background-image: url("../images/pic2hapim.png");
	background-position: right;
	background-size: cover;
	display: flex;
	justify-content: center;
	margin:0 auto;
	margin-bottom: 20px;

	/* background-repeat: no-repeat; */
}

div.six{
	
	width: 80%;
	height: 300px;
	/* border: solid 1px red; */
	background-image: url("../images/pic3hapim.png");
	background-position: center;
	background-size: contain;
	display: flex;
	justify-content: center;
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
	background-repeat: no-repeat;
	margin:0 auto;
}

@media (min-width: 320px) and (max-width:479px) {

	div.contentwrap {
		width: 478px;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		/* border: 1px solid red; */
		/* padding: 20px 0 40px 0;  */
		margin: 0 auto;
	}
	
	div.hapim {
		width: 80%;
		height: auto;
		display: flex;
		flex-direction: column;
		/* align-items: center; */
		justify-content: space-evenly;
		/* border: solid 1px red; */
		flex-wrap: wrap;
		/* padding: 30px 0 0 0; */
	}
	
	div.hhapim {
		display: flex;
		flex-direction: column;
		/* border: 1px solid red; */
		justify-content: flex-start;
		align-items: center;
		width: 80%;
		/* margin-bottom: 20px; */
		
	}
	div.hhapim h1 {
		font-family: Calibri;
		text-align: center;
		font-size: 22px;
	}
	
	
	div.hhapim img {
		width: 20%;
		height: auto;
		/* margin-right: 100px; */
	}
	
	div.one {
		width: 100%;
		height: auto;
		/* border: solid 1px red; */
	}
	div.two {
		width: 80%;
		height: 400px;
		/* border: solid 1px red; */
		background-image: url("../images/pic1hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: space-around;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	div.four {
		width: 80%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic2hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		margin:0 auto;
		margin-bottom: 20px;
		background-repeat: no-repeat;
	}
	
	div.six{
		
		width: 80%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic3hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		padding: 10px 0 10px 0;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin:0 auto;
	}
	
	div.hapim h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 10px 0 10px 0;
		color: #000033;
		/* text-decoration: underline; */
	}
	
	div.hapim p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
		/* padding: 0 80px 0 80px; */
	}
	
	
	
}

@media (min-width: 480px) and (max-width:767px) {

	div.contentwrap {
		width: 766px;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		/* border: 1px solid red; */
		/* padding: 20px 0 40px 0;  */
		margin: 0 auto;
	}
	
	div.hapim {
		width: 80%;
		height: auto;
		display: flex;
		flex-direction: column;
		/* align-items: center; */
		justify-content: space-evenly;
		/* border: solid 1px red; */
		flex-wrap: wrap;
		padding: 30px 0 0 0;
	}
	
	div.hhapim {
		display: flex;
		flex-direction: column;
		/* border: 1px solid red; */
		justify-content: flex-start;
		align-items: center;
		width: 80%;
		margin-bottom: 20px;
		
	}
	div.hhapim h1 {
		font-family: Calibri;
		text-align: center;
		font-size: 22px;
	}
	
	
	div.hhapim img {
		width: 10%;
		height: auto;
		/* margin-right: 100px; */
	}
	
	div.one {
		width: 100%;
		height: auto;
		/* border: solid 1px red; */
	}
	div.two {
		width: 80%;
		height: 400px;
		/* border: solid 1px red; */
		background-image: url("../images/pic1hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: space-around;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	div.four {
		width: 80%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic2hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		margin:0 auto;
		margin-bottom: 20px;
	
		background-repeat: no-repeat;
	}
	
	div.six{
		
		width: 80%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic3hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		padding: 10px 0 10px 0;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin:0 auto;
	}
	
	div.hapim h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 10px 0 10px 0;
		color: #000033;
		/* text-decoration: underline; */
	}
	
	div.hamim p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
		/* padding: 0 80px 0 80px; */
	}
	
	
}

@media (min-width: 768px) and (max-width:1023px) {

	div.contentwrap {
		width: 1022px;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		/* border: 1px solid red; */
		/* padding: 20px 0 40px 0;  */
		margin: 0 auto;
	}
	
	div.hapim {
		width: 80%;
		height: auto;
		display: flex;
		flex-direction: column;
		/* align-items: center; */
		justify-content: space-evenly;
		/* border: solid 1px red; */
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	
	div.hhapim {
		display: flex;
		flex-direction: column;
		/* border: 1px solid red; */
		justify-content: flex-start;
		align-items: center;
		width: 80%;
		margin-bottom: 20px;
		
	}
	div.hhapim h1 {
		font-family: Calibri;
		text-align: center;
		font-size: 22px;
	}
	
	
	div.hhapim img {
		width: 10%;
		height: auto;
		/* margin-right: 100px; */
	}
	
	div.one {
		width: 100%;
		height: auto;
		/* border: solid 1px red; */
	}
	div.two {
		width: 80%;
		height: 400px;
		/* border: solid 1px red; */
		background-image: url("../images/pic1hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: space-around;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	div.four {
		width: 80%;
		height: 400px;
		/* border: solid 1px red; */
		background-image: url("../images/pic2hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		margin:0 auto;
		margin-bottom: 20px;
	
		background-repeat: no-repeat;
	} 
	
	div.six{
		
		width: 80%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic3hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		padding: 10px 0 10px 0;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin:0 auto;
	}
	
	div.hapim h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 10px 0 10px 0;
		color: #000033;
		/* text-decoration: underline; */
	}
	
	div.hapim p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
	}
}

@media (min-width: 1024px) and (max-width:1200px) {

	div.contentwrap {
		width: 1199px;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		/* border: 1px solid red; */
		/* padding: 20px 0 40px 0;  */
		margin: 0 auto;
	}
	
	div.hapim {
		width: 80%;
		height: auto;
		display: flex;
		flex-direction: column;
		/* align-items: center; */
		justify-content: space-evenly;
		/* border: solid 1px red; */
		flex-wrap: wrap;
		padding: 20px 0 0 0;
		margin-bottom: 20px;
	}
	
	div.hhapim {
		display: flex;
		flex-direction: column;
		/* border: 1px solid red; */
		justify-content: flex-start;
		align-items: center;
		width: 80%;
		margin-bottom: 20px;
		
	}
	div.hhapim h1 {
		font-family: Calibri;
		text-align: center;
		font-size: 22px;
	}
	
	
	div.hhapim img {
		width: 10%;
		height: auto;
		/* margin-right: 100px; */
	}
	
	div.one {
		width: 100%;
		height: auto;
		/* border: solid 1px red; */
	}
	div.two {
		width: 80%;
		height: 400px;
		/* border: solid 1px red; */
		background-image: url("../images/pic1hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: space-around;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	div.four {
		width: 80%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic2hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		margin:0 auto;
		margin-bottom: 20px;
		background-repeat: no-repeat;
	}
	
	div.six{
		
		width: 80%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic3hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		padding: 10px 0 10px 0;
		margin: 10px 0 20px 0;
		background-repeat: no-repeat;
		margin:0 auto;
	}
	
	div.hapim h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 10px 0 10px 0;
		color: #000033;
		/* text-decoration: underline; */
	}
	
	div.hapim p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
		/* padding: 0 80px 0 80px; */
	}
	
	
	
}

@media (min-width: 1201px) and (max-width:1366px) {

	div.contentwrap {
		width: 1365px;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		/* border: 1px solid red; */
		/* padding: 20px 0 40px 0;  */
		margin: 0 auto;
	}
	
	div.hapim {
		width: 80%;
		height: auto;
		display: flex;
		flex-direction: row;
		/* align-items: center; */
		justify-content: space-evenly;
		/* border: solid 1px red; */
		flex-wrap: wrap;
		padding: 10px 0 0 0;
		margin-bottom: 20px;
	}
	
	div.hhapim {
		display: flex;
		flex-direction: row;
		/* border: 1px solid red; */
		justify-content:center;
		width: 80%;
		margin-bottom: 20px;
		height: 140px;
		
	}
	div.hhapim h1 {
		font-family: Calibri;
		text-align: center;
		font-size: 22px;
	}
	
	
	div.hhapim img {
		width: 6%;
		height: auto;
	}
	
	div.one {
		width: 60%;
		height: auto;
		/* border: solid 1px red; */
	}
	div.two {
		width: 30%;
		height: 400px;
		/* border: solid 1px red; */
		background-image: url("../images/pic1hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: space-around;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	
	div.four {
		width: 30%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic2hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		margin:0 auto;
		margin-bottom: 40px;
		background-repeat: no-repeat;
	}
	
	div.six{
		
		width: 30%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic3hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		padding: 10px 0 10px 0;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin:0 auto;
	}
	
	div.hapim h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 10px 0 10px 0;
		color: #000033;
		/* text-decoration: underline; */
	}
	
	div.hapim p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
		/* padding: 0 80px 0 80px; */
	}
	
	
	
}

@media (min-width: 1367px) {

	div.contentwrap {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		/* border: 1px solid red; */
		/* padding: 20px 0 40px 0;  */
		margin: 0 auto;
	}
	
	div.hapim {
		width: 80%;
		height: auto;
		display: flex;
		flex-direction: row;
		/* align-items: center; */
		justify-content: space-evenly;
		/* border: solid 1px red; */
		flex-wrap: wrap;
		padding: 10px 0 0 0;
		margin-bottom: 20px;
	}
	
	div.hhapim {
		display: flex;
		flex-direction: row;
		/* border: 1px solid red; */
		justify-content:center;
		width: 80%;
		margin-bottom: 20px;
		height: 140px;
		
	}
	div.hhapim h1 {
		font-family: Calibri;
		text-align: center;
		font-size: 22px;
	}
	
	
	div.hhapim img {
		width: 6%;
		height: auto;
	}
	
	div.one {
		width: 60%;
		height: auto;
		/* border: solid 1px red; */
	}
	div.two {
		width: 30%;
		height: 400px;
		/* border: solid 1px red; */
		background-image: url("../images/pic1hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: space-around;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	
	div.four {
		width: 30%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic2hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		margin:0 auto;
		margin-bottom: 40px;
		background-repeat: no-repeat;
	}
	
	div.six{
		
		width: 30%;
		height: 300px;
		/* border: solid 1px red; */
		background-image: url("../images/pic3hapim.png");
		background-position: center;
		background-size: contain;
		display: flex;
		justify-content: center;
		padding: 10px 0 10px 0;
		margin: 10px 0 10px 0;
		background-repeat: no-repeat;
		margin:0 auto;
	}
	
	div.hapim h2 {
		font-family: Exotc350 DmBd BT;
		/* color: #252525; */
		padding: 10px 0 10px 0;
		color: #000033;
		/* text-decoration: underline; */
	}
	
	div.hapim p {
		font-family: calibri;
		color: #252525;
		line-height: 22px;
		font-size: 17px; 
		text-align: justify;
		/* padding: 0 80px 0 80px; */
	}
	
	
	
}