*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/* border: solid 1px red;b */
}

body {
	background-image: url("../images/translogo.png");
}

header {
	display: flex;
	width: 100%;
	height: 140px;
	background-image: url("../images/translogo.png");
	/* position: relative; */

}

header img {
	width: 100px;
	height: auto;
	/* position: absolute; */
	margin-top: 20px;
	margin-left: 20px;
}

header h1 {
	position: absolute;
	margin-left: 500px;
	top: 50px; 
	font-family: Exotc350 DmBd BT;
	color: red;
	font-size: 28px;
	letter-spacing: 15px; 

}

#hminav a {
	color: #fff;
	background: #000033;
	display: block;
	/* height: 60px; */
	font-family: Exotc350 Dmbd BT;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: background 0.45s;
	padding: 14px 16px;
}

#hminav a:hover {
	background: red;
}

#hminav ul {
	list-style: none;
	display: flex;
}

#hminav li {
	width: 150%;
	text-align: center; 
	position: relative;
}

#hminav li:hover .submenu > li {	
	display: block;
	top: 0px;
}

.submenu li {
	display: none;
	position: absolute;
	top: 0px;
	text-align: left;
}

.submenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
}

.arrow {
	font-size: 10px;
	left: 6px;
}

div.firstpic {
/*	position: relative;
*/	display: flex;
	/* margin-top: 40px; */
	height: 730px;
	width: 100%;
	background-image: url("../images/picture.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	/*border: solid 1px red;*/
	flex-direction: column;
	align-items: center; 


}

div.h1p {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	/*border: solid 1px red;*/
	background: rgba(38,38,38,0.5);
	margin-top: 400px;
	width: 1000px;
	height: 200px;
	margin-bottom: 50px


}

div.h1p h1 {
	text-align: center;
	font-size: 35px;
	font-family: Exotc350 DmBd BT;
	color: white;

}
div.h1p p {
	text-align: center;
	font-size: 30px; 
	color: white;
	font-family: ErasDemiITC;
	line-height: 40px;
}

#learn {
	font-family: Exotc350 DmBd BT;
	font-size: 20px;
	color: white;
	font-weight: bolder;
}

div.methonav {
	display: flex;
	flex-flow: row no-wrap;
	/*border: solid 1px red;*/
	align-items: center;
}

div.methonav a {
	color: white;
	padding: 0px 8px;
	font-family: calibri;
	font-size: 16px;
	text-decoration: none;
	font-weight: bolder;
	color: #ffcc00;
	text-transform: uppercase;
	border-right: solid 2px white;
}

#last {
	border: none;
}

div.methonav a:hover {
	text-decoration: underline;
}

div.whywomen {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 0 46px;
	margin-top: 50px;
	background: rgb(204,255,255,0.5);

}

div.whywomen h1 {
	font-family: Exotc350 DmBd BT;
	font-weight: bold;
	font-size: 40px;
	color: #551a8b;
	text-decoration: underline;
	line-height: 100px;

}

div.whywomen p {
	font-size: 32px;
	font-family: Gabriola;
	line-height: 40px;
	color: black;
	text-align: center

}

div.about {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	flex-flow: row no-wrap;
	width: 100%;
	height: 500px;
	/*width: calc(50%-40px);*/
 	margin: 50px 0 50px 0;
 	background-color: #0088cc;
	/*border: solid 1px red;*/
}

img.pic2-alt {
	display: none;
	width: auto;
	height: auto;
	max-width: 60%;
	max-height: 100%;
}

div#picwhowe {
	background-image: url("../images/pic2.jpg");
	background-position: center;
	background-size: cover;
	flex: 0 0 500px;
	height: 400px;
	margin-top: 50px;
   	/*border: solid 1px red;*/

}
div#whowe {
	flex: 0 1 670px;
   	/*border: solid 1px red;*/
}


div#whowe h1 {
	font-family: Exotc350 DmBd BT;
	line-height: 90px;
	color:white;
	font-size: 40px;


}
div#whowe p {
 	font-size: 15px;
 	text-align: justify;
 	font-family: Arial;
 	color: white;
 	line-height: 32px;
 	
}

div.about2 {
	display: flex;
	justify-content: space-evenly;	align-items: stretch;
	flex-flow: row no-wrap;
	width: 100%;
	height: 470px;
	/*margin: 50px 0 0 0;*/
 	/*border: solid 1px red;*/
} 

div#picvision {
	background-image: url("../images/picvision.jpg");
	background-position: left;
	background-size: cover;
	flex: 0 500px;
	height: 400px;
	margin-top: 40px;
	/*border: solid 1px red;*/
	
}

div#vision {
	flex: 0 1 600px;
	/*border: solid 1px red;*/
	margin-top: 60px;

}

div#vision h1 {
	font-family: Exotc350 DmBd BT;
	line-height: 100px;
	color: #4d4d4d;
	font-size: 40px;

}

div#vision p {
 	font-size: 15px;
 	text-align: justify;
 	font-family: Arial;
 	line-height: 24px;
 	color: #28283e;
}

div.about3 {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	height: 400px;
	width: 100%;
	flex-flow: row no-wrap;
	/*margin: 0 0 50px 0;*/
	/*border: solid 1px red;*/
}

div#mission {
	flex: 0 1 600px;
	margin-top: 30px;
	/*border: solid 1px red;*/
}

div#picmission {
	background-image: url("../images/picmission.jpg");
	background-position: center;
	background-size: cover;
	/*border: solid 1px red;*/
	flex: 0 0 500px;
	height: 400px;
}


div#mission h1 {
	font-family: Exotc350 DmBd BT;
	line-height: 100px;
	color: #4d4d4d;
	font-size: 40px;

}

div#mission p {
 	font-size: 15px;
 	text-align: justify;
 	font-family: Arial;
 	line-height: 24px;
 	color: #28283e;
}

div.about4 {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	margin: 40px 0 0 0;
	height: 400px;
	width: 100%;
	/*border: solid 1px red;*/
}

div#piccore {
	background-image: url("../images/piccore.jpg");
	background-size: cover;
	background-position: right;
	flex: 0 0 500px;
	height: 398px;
	/*margin-top: 40px;*/

}

div#core {
	flex: 0 1 500px;
	margin-top: 50px;

}

div#core h1 {
	font-family: Exotc350 DmBd BT;
	line-height: 70px;
	color: #4d4d4d;
	font-size: 40px;
}

div#core li {
	font-size: 15px;
 	text-align: justify;
 	font-family: Arial;
 	line-height: 44px;
 	color: #28283e;	
}

div.about5 {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	height: 400px;
	width: 100%;
	flex-flow: row no-wrap;
	margin: 50px 0 0 0;
	/*border: solid 1px red;*/
}

div#uniqueness {
	flex: 0 1 600px;
	margin-top: 30px;
	/*border: solid 1px red;*/
}

div#picuniqueness {
	background-image: url("../images/picunique.jpg");
	background-position: center;
	background-size: cover;
	/*border: solid 1px red;*/
	flex: 0 0 500px;
	height: 400px;
}


div#uniqueness h1 {
	font-family: Exotc350 DmBd BT;
	line-height: 100px;
	color: #4d4d4d;
	font-size: 40px;
	marging-left: 200px;

}

div#uniqueness p {
 	font-size: 15px;
 	text-align: justify;
 	font-family: Arial;
 	line-height: 24px;
 	color: #28283e;
}


div.activities {
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;
	align-items: center;
	/* border: solid 1px red; */
	/* background-color: #000033; */
	margin: 70px 0px 50px 0px;
}

div.activities h1 {
	font-family: Exotc350 DmBd BT;
	font-size: 50px;
	font-weight: bold;
	border-bottom: double 2px #252525;
}

section.advert {
	width: 100%;
	height: 600px;
	padding: 50px 0px;
	/* border: solid 1px red; */
	display: flex;
	justify-content: space-around;
}

div.girl {
	width: 311px;
	height: 405px;
	padding: 0px 10px;
	/* border: solid 1px red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 0 0 rgba(0, 0, 0, 0.19);
	position: relative;

}

div.girl h1 {
	font-family: Exotc350 DmBd BT;
	line-height: 40px;
	font-size: 18px;
	color: #41464b; 
	margin-left: -20px;


}
div.girl p{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #64707b;
	font-size: 15px;

}

div.girl a {
	bottom: 5px;
	position: absolute;
}

div.skill {
	width: 311px;
	height: 405px;
	padding: 0px 10px;
	/* border: solid 1px red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 0 0 rgba(0, 0, 0, 0.19);
	position: relative;

}

div.skill h1 {
	font-family: Exotc350 DmBd BT;
	line-height: 40px;
	font-size: 18px;
	color: #41464b; 
	margin-left: -2px;
}

div.skill p{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #64707b;
	font-size: 15px;

}

div.skill a {
	bottom: 5px;
	position: absolute;
}

div.fyn {
	width: 311px;
	height: 405px;
	padding: 0px 10px;
	/* border: solid 1px red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 0 0 rgba(0, 0, 0, 0.19);
	position: relative;
}
div.fyn h1 {
	font-family: Exotc350 DmBd BT;
	line-height: 40px;
	font-size: 18px;
	color: #41464b; 
	margin-left: -90px;

}
div.fyn p{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #64707b;
	font-size: 15px;
}

div.fyn a {
	bottom: 5px;
	position: absolute;
}


div.health {
	width: 311px;
	height: 405px;
	padding: 0px 10px;
	/* border: solid 1px red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 0 0 rgba(0, 0, 0, 0.19);
	position: relative;

}

div.health h1 {
	font-family: Exotc350 DmBd BT;
	line-height: 40px;
	font-size: 17px;
	color: #41464b; 
	margin-left: -5px;
}
div.health p{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #64707b;
	font-size: 15px;

}

div.health a {
	bottom: 5px;
	position: absolute;
}

footer {
	/* display: flex; */
	background: #252525;
	height: 430px;
	width: 100%;
}

div.footercontainer {
	display: flex;
	width: 1140px;
	height: 354px;
	margin: 0px 113px;
	padding: 80px 15px 0px;
	/* border: solid 1px red; */

} 

div.littleabout {
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
	/* align-items: flex-start; */

	}

div.links {
	/* display: flex; */
	/* flex-direction: column; */
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
}

div.downlogo {
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
	justify-content: center;
	align-items: center;

}
footer img {
	width: 200px;
	height: auto;
}

div.contact {
	display: flex;
	flex-direction: column;
	width: 285px;
	height: 265px;
	padding: 0px 15px;
	/* border: solid 1px red; */
}

footer h1 {
	font-family: Exotc350 DmBd BT;;
	color: yellow;
	font-size: 18px;
	line-height: 40px;
}
footer a {
	color: #e6e6e6;
	font-family: calibri;
	line-height: 25px;
	font-size: 15px;
	text-decoration: none;
}

footer a:hover {
	background: red;
}

footer li {
	width: 255px;
	border-bottom: solid 1px #333333;
	list-style: none;
}

footer p {
	color: #e6e6e6;
	font-family: calibri;
	text-align: left;
	font-size: 15px;
	line-height: 20px;
}

div.copy {
	/* border: solid 1px red; */
	width: 100%;
	display: flex;
	align-items: flex-end;
	height: 70px;
	justify-content: center;

}

